<div class="formulario">
    <form [formGroup]="itemForm" (ngSubmit)="submit()">
        <div>
            <mat-form-field appearance="fill">
                <mat-label>Nombre Cliente</mat-label>
                <input matInput name="nombre" formControlName="nombre">
            </mat-form-field>
        </div>
        <div>
            <mat-form-field appearance="fill">
                <mat-label>Direccion de entrega</mat-label>
                <input matInput name="direccion" formControlName="direccion">
            </mat-form-field>
        </div>
        <div>
            <mat-form-field appearance="fill">
                <mat-label>Comida pedida</mat-label>
                <input matInput name="comida" formControlName="comida">
            </mat-form-field>
        </div>

        <mat-form-field appearance="outline">
            <mat-label>Fecha de Entrega</mat-label>
            <input matInput [matDatepicker]="picker" formControlName="fechaEntrega">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
        <br>

        
        <button mat-raised-button color="primary">Guardar</button>
    </form>
</div>


<div class="tabla">

    <table mat-table [dataSource]="pedidos" class="mat-elevation-z8">

        <ng-container matColumnDef="nombre">
            <th mat-header-cell *matHeaderCellDef class="thcenter"> Nombre del Cliente </th>
            <td mat-cell *matCellDef="let element" style="width: 30%;" class="thcenter"> {{element.nombre}} </td>
        </ng-container>

        <ng-container matColumnDef="direccion">
            <th mat-header-cell *matHeaderCellDef class="thcenter"> Direccion </th>
            <td mat-cell *matCellDef="let element" style="width: 30%;" class="thcenter"> {{element.direccion}} </td>
        </ng-container>

        <ng-container matColumnDef="comida">
            <th mat-header-cell *matHeaderCellDef class="thcenter"> Comida pedida</th>
            <td mat-cell *matCellDef="let element" style="width: 10%;" class="thcenter"> {{element.comida}} </td>
        </ng-container>

         <ng-container matColumnDef="fechaEntrega">
            <th mat-header-cell *matHeaderCellDef class="thcenter"> Fecha de entrega</th>
            <td mat-cell *matCellDef="let element" style="width: 10%;" class="thcenter"> {{element.fechaEntrega | date: shortDate }} </td>
        </ng-container>

        <!-- Editar Column -->
        <ng-container matColumnDef="editar">
            <th mat-header-cell *matHeaderCellDef class="thcenter "> Editar </th>
            <td mat-cell *matCellDef="let element" style="width: 30%;" class="thcenter">
                <div style="height: 100%; width: 100%;">
                    <button type="button" class="buttontable" mat-raised-button color="primary" (click)="editarPedido(element)">Editar</button>
                </div>
            </td>
        </ng-container>

        <!-- Borrar Column -->
        <ng-container matColumnDef="borrar">
            <th mat-header-cell *matHeaderCellDef class="thcenter"> Borrar </th>
            <td mat-cell *matCellDef="let element" style="width: 30%;" class="thcenter">
                <div style="height: 100%; width: 100%;">
                    <button type="button" class="buttontable" mat-raised-button color="primary" (click)="borrarPedido(element)">Borrar</button>
                </div>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
</div>